{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row m-0 p-0 mt-1 mb-1">
            <div class="col-lg-6">
                <a style="position:relative;" href="{{ path('app_home') }}" class="navbar-brand d-none d-lg-block mt-2 ms-2">
                    <div style="width:150px;height:150px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                    <h1 style="position:absolute;top:50px;left:170px;" class="m-0 display-5 text-capitalize font-italic mt-2"><span class="text-primary">Protected by </span>Odysseus</h1>
                </a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center mt-3">
                    <div class="d-inline-flex flex-column text-center pr-3 border-right">
                        <h6>Our Office</h6>
                        <p class="m-0">123 Street, NY, USA</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center px-3 border-right">
                        <h6>Email Us</h6>
                        <p class="m-0">info@example.com</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center pl-3">
                        <h6>Call Us</h6>
                        <p class="m-0">+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar bg-secondary">
        
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-0">
            <a style="position:relative" href="{{ path('app_home') }}" class="navbar-brand d-block d-lg-none">
                <div style="width:50px;height:50px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                <h1 style="position:absolute; top:10px; left:60px;" class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected by </span>Odysseus</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav py-4">
                    <a data-turbo="false" href="{{ path('app_home') }}" class="nav-item nav-link">Home</a>
                    <a href="{{ path('app_about') }}" class="nav-item nav-link">About</a>
                    <a href="{{ path('app_service') }}" class="nav-item nav-link">Services</a>
                    <a href="{{ path('app_single') }}" class="nav-item nav-link">Blog</a>
                    <a href="{{ path('app_contact') }}" class="nav-item nav-link  active">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5 mt-5">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3 mt-5">Contact Us</h5>
            <h1 class="m-0">Contact For Any Query</h1>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <iframe style="width: 100%; height: 500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12">
                <div class="contact-form bg-white">
                    <div id="success"></div>

                    {{ form_start(form, {'attr': {'name' : 'sentMessage', 'id' : 'contactForm', 'novalidate' : 'novalidate'}}) }}
                   
                        <div class="control-group">
                            {{ form_row(form.name, {'attr': { 'class': 'form-control', 'id': 'name', 'placeholder': 'Your Name'  }}) }}
                        </div>

                        <div class="control-group">
                            {{ form_row(form.mail, {'attr': { 'class': 'form-control', 'id': 'mail', 'placeholder': 'Your Adresse Email'  }}) }}
                        </div>

                        <div class="control-group">
                            {{ form_row(form.subject, {'attr': { 'class': 'form-control', 'id': 'subject', 'placeholder': 'Your Subject'  }}) }}
                        </div>

                        <div class="control-group">
                            {{ form_row(form.message, {'attr': { 'class': 'form-control', 'id': 'message', 'placeholder': 'Your Message'  }}) }}
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                   
                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected By </span>Odysséus</h1>
                <p class="m-0">Best Security Service</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" data-turbo="false" href="{{ path('app_home') }}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="{{ path('app_about') }}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                            <a class="text-white mb-2" href="{{ path('app_service') }}"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                            <a class="text-white mb-2" href="{{ path('app_single') }}"><i class="fa fa-angle-right mr-2"></i>Single</a>
                            <a class="text-white" href="{{ path('app_contact') }}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                 
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Get In Touch</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://twitter.com/intent/tweet?url=https://www.protectedbyodysseus.com&text="><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.facebook.com/sharer/sharer.php?u=https://www.protectedbyodysseus.com"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.protectedbyodysseus.com"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Popular Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-double-up"></i>Back to top</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Privacy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                   <a class="text-white font-weight-bold" href="#">Protected By Odysséus</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

{% endblock %}