{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row m-0 p-0 mt-1 mb-1">
            <div class="col-lg-6">
                <a style="position:relative;" href="{{ path('app_home') }}" class="navbar-brand d-none d-lg-block mt-2 ms-2">
                    <div style="width:150px;height:150px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                    <h1 style="position:absolute;top:50px;left:170px;" class="m-0 display-5 text-capitalize font-italic mt-2"><span class="text-primary">Protected by </span>Odysseus</h1>
                </a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center mt-3">
                    <div class="d-inline-flex flex-column text-center pr-3 border-right">
                        <h6>Our Office</h6>
                        <p class="m-0">123 Street, NY, USA</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center px-3 border-right">
                        <h6>Email Us</h6>
                        <p class="m-0">info@example.com</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center pl-3">
                        <h6>Call Us</h6>
                        <p class="m-0">+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-0">
            <a style="position:relative" href="{{ path('app_home') }}" class="navbar-brand d-block d-lg-none">
                <div style="width:50px;height:50px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                <h1 style="position:absolute; top:10px; left:60px;" class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected by </span>Odysseus</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav py-4">
                    <a data-turbo="false" href="{{ path('app_home') }}" class="nav-item nav-link active">Home</a>
                    <a href="{{ path('app_about') }}" class="nav-item nav-link">About</a>
                    <a href="{{ path('app_service') }}" class="nav-item nav-link">Services</a>
                    <a href="{{ path('app_single') }}" class="nav-item nav-link">Blog</a>
                    <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="blog-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/header1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-primary m-0">Your Safety, Our Efforts</h4>
                        <h4 class="display-4 m-0 mt-2 mt-md-3 text-white">Best Security Service</h4>
                        <a href="{{ path('app_about') }}" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/header2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-primary m-0">Your Safety, Our Efforts</h4>
                        <h4 class="display-4 m-0 mt-2 mt-md-3 text-white">Highly Trained Guards</h4>
                        <a href="{{ path('app_service') }}" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/header.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-primary m-0">Your Safety, Our Efforts</h4>
                        <h4 class="display-4 m-0 mt-2 mt-md-3 text-white">Contact Us</h4>
                        <a href="{{ path('app_contact') }}" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">Learn More</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <div class="btn btn-primary rounded-circle" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <div class="btn btn-primary rounded-circle" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Features Start -->
    <div class="container-fluid py-5 py-lg-0 feature">
        <div class="row py-5 py-lg-0">
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center border-right px-5 mb-4 mb-lg-0">
                    <i class="flaticon-policeman display-3 text-primary mr-4"></i>
                    <div class="">
                        <h5 class="mb-3">Professional Staff</h5>
                        <p class="m-0">Protected By Odysséus provides Close Protection Bodyguards and Executive Protection Services to meet our clients' requirements, whether it is in a hostile environment, or a capital city. We operate with an amalgamation of professional standards, great management and highly experienced personnel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center border-right px-5 mb-4 mb-lg-0">
                    <i class="flaticon-helmet display-3 text-primary mr-4"></i>
                    <div class="">
                        <h5 class="mb-3">Risk and Threat</h5>
                        <p class="m-0">Our Close Protection Services are diverse and tailored to our clients' needs. We understand the balance between business and family life, and the need to fit around the client whilst giving the best protection possible. Part of understanding their needs often involves a Security Review and Risk Assessment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center px-5">
                    <i class="flaticon-surveillance display-3 text-primary mr-4"></i>
                    <div class="">
                        <h5 class="mb-3">International Close Protection</h5>
                        <p class="m-0">Since our incorporation, Protected By Odysséeus has carried out Close Protection tasks worldwide, our Bodyguards operating from London, and other European locations such as Monaco, Saint Tropez to the deserts of West Africa and the Middle East. To aid both our clients and our services, we now offer Travel Advice free of charge.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- About Start -->
    <div class="container-fluid mb-5" style="background: #f6f6f6;">
        <div class="row align-items-center">
            <div class="col-lg-4 px-0">
                <div style="width:100%;height:400px;background-image:url('img/6.jpg');background-size:cover;background-position:center;background-repeat:no-repeat;"></div>
            </div>
            <div class="col-lg-8 py-5 py-lg-0 px-3 px-lg-5">
                <h5 class="text-primary mb-3">Our Close Protection Operatives</h5>
                <p>Protected By Odysséeus, is always interested in hearing from professional Bodyguards from around the world, who meet our employment criteria.</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <i class="flaticon-approved display-3 text-primary"></i>
                        <h5 class="mt-2">International product launches</h5>
                        <p>Being a true international company, we are equipped to cover your security requirements as your product launch moves from city to city or country to country.</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="flaticon-medal display-3 text-primary"></i>
                        <h5 class="mt-2">Securing your home</h5>
                        <p>Securing your home and your family is on the top of everyone's list of priorities.</p>
                    </div>
                </div>
                <a href="{{ path('app_service') }}" class="btn btn-lg px-4 btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services Start -->
    <div class="container pt-5 mt-5">
       
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3">Our Services</h5>
            <h1 class="m-0">Premium Security Services</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ path('app_service') }}">
                    <div class="card mb-2 p-3">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/2.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-desk font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Close Protection</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Since our incorporation, Protected By Odysséus has carried out Close Protection tasks worldwide, our Bodyguards operating from London, and other European locations such as Monaco, Saint Tropez to the deserts of West Africa and the Middle East. To aid both our clients and our services, we now offer Travel Advice free of charge.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ path('app_service') }}">
                    <div class="card mb-2 p-3">
                        <div class="div-img-top" style="background-position:16%50%;background-repeat: no-repeat; background-size:cover;background-image:url('img/11.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-home font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Safety and Travel Abroad</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Travelling should be as care-free as possible, whether you are on vacation or on a high profile business trip. Protected By Odysséus provides services that offer peace of mind.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/entrainement1.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-factory font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">International Training</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected By Odysséus is a specialist training provider that draws upon the experience and qualifications of its former Military, Police and Intelligence Service personnel.
                            As industry experts, we are often called-upon to provide “Expert Witness” statements in court cases and used by the press and media to comment on security, protection and intelligence related items in the international news.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/entrainement2.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-transportation font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Tactical Shooting</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            What is tactical shooting? Tactics are defined as: “Any maneuver used to gain an advantage or success”. Protected By Odysséus uses tactical shooting is the integration of tactical movement with proven defensive shooting techniques. 
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/12.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-desk font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Medical Security</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected By Odysséus deals with health security which is a concept that encompasses activities and measures beyond sovereign borders that mitigate public health incidents to ensure the health of populations.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/14.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-bodyguard font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Risk Management</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Risk management is the process of identifying, assessing and controlling threats to an organization's capital and profits. Protected By Odysséus deals with these threats, or risks, which could arise from a wide variety of sources, including financial uncertainty, legal liabilities, strategic mismanagement, accidents and natural disasters.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/15.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-bodyguard font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Private Detective</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected by Odysséus can be called upon by individuals, groups or NGOs to undertake legal investigative services. We often work for lawyers in civil and criminal matters.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/17.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <h3 class="flaticon-bodyguard font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></h3>
                            <h6 class="card-title text-white text-truncate m-0">Technological Security</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected by Odysséus uses the latest technologies to effectively carry out the missions entrusted to it.
                        </div>
                    </a>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Services End -->


    <!-- Facts Start -->
    <div data-controller="hello" class="container-fluid bg-primary my-5 py-5 text-center">
        <div class="row pt-5">
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="fa fa-user-shield mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></h5>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">250</h4>
                <h6 class="text-white m-0">Our Staff</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="fa fa-users mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></h5>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">1500</h4>
                <h6 class="text-white m-0">Happy Client</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="fa fa-shield-alt mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></h5>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">10000</h4>
                <h6 class="text-white m-0">Project Complete</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h5 class="fa fa-award mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></h5>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">25</h4>
                <h6 class="text-white m-0">Award Winning</h6>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Blog Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3">Our news</h5>
            <h1 class="m-0">Our latest news</h1>
        </div>

        <div class="row pb-3">
            
            {% for new in news %}

                <div class="col-lg-4 mb-4">
                    <div class="card mb-2 p-3">
                        <a href="{{ path('app_single') }}" alt="">
                        {% if new.image is defined %}
                            <div style="height:200px; width:100%;background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('uploads/images/{{new.image}}');" class="card-img-top"></div>
                        {% endif %}
                        <div class="card-body bg-secondary d-flex align-items-center p-1">
                            {% if new.title is defined %}
                                <h4 style="font-size:16px!important;min-height:50px!important" class="card-title text-white m-0 ml-3 mt-2">{{new.title}}</h4>
                            {% endif %}
                        </div>
                        <div style="height:350px" class="card-footer py-3 px-4">
                            <div class="d-flex mb-2">
                                {% if new.subtitle is defined %}
                                    <h5 style="font-size:14px!important;min-height:100px!important" class="card-title text-black m-0 ml-2">{{new.subtitle}}</h5>
                                {% endif %}
                            </div>
                            {% if new.text is defined %}
                                <div style="font-size:14px!important;" class="m-0 ml-4">{% if new.text|length < 300 %} {{ new.text|raw }} {% else %} {{ new.text|slice(0, 300)|raw }} {% endif %}</div>
                            {% endif %}
                        </div>
                        </a>
                    </div>
                </div>

            {% endfor %}
           

        </div>
    </div>
    <!-- Blog End -->

    <!-- Rss Start -->
    <div  data-controller="rss"  id="carousel" class="container carousel slide" data-ride="carousel">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3">World News</h5>
            <h1 class="m-0">What is happening in the world</h1>
        </div>

        <div class="carousel-inner">
            {% for rss in fluxRss %}
                {% if rss is defined %}
                    {% for data in rss.item %}
                        <div class="carousel-item rss">
                            <div class="d-block w-100 p-4 bg-danger">

                                {% if data.pubDate is defined %}
                                    <div class="date mb-4">
                                        <small style="font-size:16px;" class="text-white">{{ data.pubDate }}</small>
                                    </div>
                                {% endif %}

                                <a class="content" {% if data.guid is defined %}href="{{ data.guid }}"{% else %}href="#"{% endif %}>
                                    <div {% if data.title is defined %}data-title="{{ data.title }}"{% endif %}>
                                        
                                        {% if data.description is defined %}
                                            <div style="font-size:24px;" class="text-dark font-italic">{{ data.description|raw }}</div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Rss End -->

    <!-- Testimonial Start -->
    <div data-controller="testimonial" class="container-fluid my-5 p-0 py-5" style="background: #f6f6f6;">
        <div class="container p-0 py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h5 class="text-primary mb-3">Testimonial</h5>
                <h1 class="m-0">What Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        I worked with Cedric when he protected several HNWI. He is an outstanding professional always courteous and cares about the clients protection and wellbeing. He is very proactive and I couldn't have asked for anyone better to work with.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/personne1.jpeg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Corina Goetz</h6>
                            <p class="m-0">Spécialist representing Luxury Hôtels</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        J’ai eu l’occasion de collaborer avec Cédric il y’a quelques années sur différents projets notamment de protection physique des personnes. Je recommande fortement Cédric pour sa discrétion, son professionnalisme et son efficacité ! Ses compétences lui permettent de gérer les situations les plus complexes, autant sur le terrain qu’en qualité de manager. 
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-2.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Gil Ancelin</h6>
                            <p class="m-0">Expert en protection des entreprises</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Mr, Cedric is highly skilled professional security personal guard, He highly experienced and worked with Royal families from the middle east across Europe and the United state, therefore Mr, Cedric has very well connection across the world, with great altitude.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-3.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Fahad Alwal</h6>
                            <p class="m-0">MCC Planner at Flyadeal</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Mr. Cedric is one of the most professional security practitioners I have ever worked together. He supported me in an EP project in April 2019. Definitely, this client was satisfied with his service and she wanted to have Mr. Cedric in her coming trip. I would recommend Mr. Cedric to my clients whenever they need an EP professional.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-4.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Kevin Sun</h6>
                            <p class="m-0">CCP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected By </span>Odysséus</h1>
                <p class="m-0">Best Security Service</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" data-turbo="false" href="{{ path('app_home') }}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="{{ path('app_about') }}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                            <a class="text-white mb-2" href="{{ path('app_service') }}"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                            <a class="text-white mb-2" href="{{ path('app_single') }}"><i class="fa fa-angle-right mr-2"></i>Single</a>
                            <a class="text-white" href="{{ path('app_contact') }}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Popular Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Team</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Get In Touch</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="#">Protected By Odysséus</a>. All Rights Reserved.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#"><i class="fa fa-angle-double-up"></i>Back to top</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->


{% endblock %}
