{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row m-0 p-0 mt-1 mb-1">
            <div class="col-lg-6">
                <a style="position:relative;" href="{{ path('app_home') }}" class="navbar-brand d-none d-lg-block mt-2 ms-2">
                    <div style="width:150px;height:150px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                    <h2 style="position:absolute;top:50px;left:170px;" class="m-0 display-5 text-capitalize font-italic mt-2"><span class="text-primary">Protected by </span>Odysseus</h2>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar bg-secondary">
        
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-0">
            <a style="position:relative" href="{{ path('app_home') }}" class="navbar-brand d-block d-lg-none">
                <div style="width:50px;height:50px;background-image:url('img/logo.jpg');background-repeat:no-repeat;background-position:center;background-size:cover;" class="logo"></div>
                <h2 style="position:absolute; top:10px; left:60px;" class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected by </span>Odysseus</h2>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav py-4">
                    <a data-turbo="false" href="{{ path('app_home') }}" class="nav-item nav-link">Home</a>
                    <a href="{{ path('app_about') }}" class="nav-item nav-link">About</a>
                    <a href="{{ path('app_service') }}" class="nav-item nav-link  active">Services</a>
                    <a href="{{ path('app_single') }}" class="nav-item nav-link">Blog</a>
                    <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Services Start -->
    <div class="container pt-5 mt-5">
       
        <div class="d-flex flex-column text-center mb-5 mt-5">
            <h5 class="text-primary mb-3">Our Services</h5>
            <h1 class="m-0">Premium Security Services</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ path('app_service') }}">
                    <div class="card mb-2 p-3">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/2.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Close Protection</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Since our incorporation, Protected By Odysseus has carried out Close Protection tasks worldwide, our Bodyguards operating from London, and other European locations such as Monaco, Saint Tropez to the deserts of West Africa and the Middle East. To aid both our clients and our services, we now offer Travel Advice free of charge.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{{ path('app_service') }}">
                    <div class="card mb-2 p-3">
                        <div class="div-img-top" style="background-position:16%50%;background-repeat: no-repeat; background-size:cover;background-image:url('img/11.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Safety and Travel Abroad</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Travelling should be as care-free as possible, whether you are on vacation or on a high profile business trip. Protected By Odysseus provides services that offer peace of mind.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/entrainement1.jpg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">International Training</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected By Odysseus is a specialist training provider that draws upon the experience and qualifications of its former Military, Police and Intelligence Service personnel.
                            As industry experts, we are often called-upon to provide “Expert Witness” statements in court cases and used by the press and media to comment on security, protection and intelligence related items in the international news.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/entrainement2.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Tactical Shooting</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            What is tactical shooting? Tactics are defined as: “Any maneuver used to gain an advantage or success”. Protected By Odysseus uses tactical shooting is the integration of tactical movement with proven defensive shooting techniques. 
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/12.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Medical Security</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected By Odysseus deals with health security which is a concept that encompasses activities and measures beyond sovereign borders that mitigate public health incidents to ensure the health of populations.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/14.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Risk Management</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Risk management is the process of identifying, assessing and controlling threats to an organization's capital and profits. Protected By Odysseus deals with these threats, or risks, which could arise from a wide variety of sources, including financial uncertainty, legal liabilities, strategic mismanagement, accidents and natural disasters.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/15.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Private Detective</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected by Odysseus can be called upon by individuals, groups or NGOs to undertake legal investigative services. We often work for lawyers in civil and criminal matters.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <a href="{{ path('app_service') }}">
                        <div class="div-img-top" style="background-position:center;background-repeat: no-repeat; background-size:cover;background-image:url('img/17.jpeg');"></div>
                        <div class="card-body bg-secondary d-flex align-items-center p-0">
                            <div class="d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
                            <h6 class="card-title text-white text-truncate m-0">Technological Security</h6>
                        </div>
                        <div style="height:350px" class="card-footer text-secondary d-flex align-items-center">
                            Protected by Odysseus uses the latest technologies to effectively carry out the missions entrusted to it.
                        </div>
                    </a>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Services End -->


    <!-- Facts Start -->
    <div data-controller="hello" class="container-fluid bg-primary my-5 py-5 text-center">
        <div class="row pt-5">
            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="fa fa-user-shield mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></div>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">250</h4>
                <h6 class="text-white m-0">Our Staff</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="fa fa-users mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></div>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">1500</h4>
                <h6 class="text-white m-0">Happy Client</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="fa fa-shield-alt mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></div>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">10000</h4>
                <h6 class="text-white m-0">Project Complete</h6>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="fa fa-award mb-4 d-inline-flex align-items-center justify-content-center border rounded-circle text-white" style="width: 50px; height: 50px;"></div>
                <h4 class="display-4 text-white mb-3" data-hello-target="counter-up">25</h4>
                <h6 class="text-white m-0">Award Winning</h6>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Features Start -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-5 mb-5">
                <h5 class="text-primary mb-3">Why Choose Us?</h5>
                <h1 class="mb-4">Top Level Security</h1>
                <img class="img-thumbnail mb-4 p-3" src="img/feature.jpg" alt="Image">
                <p>
                    Ea tempor ipsum kasd clita. Sea diam amet et rebum sit stet, vero sea est diam et sit ea sit et ea no
                </p>
                <a href="" class="btn btn-lg btn-primary mt-2">Learn More</a>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-policeman font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">High Security</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-bodyguard font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">Trained Guards</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">Govt Approved</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-medal font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">Award Winning</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-helmet font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">Latest Equipments</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flaticon-surveillance font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3" style="width: 45px; height: 45px;"></div>
                                <h6 class="text-truncate m-0">24/7 Support</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos rebum sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Testimonial Start -->
    <div data-controller="testimonial" class="container-fluid my-5 p-0 py-5" style="background: #f6f6f6;">
        <div class="container p-0 py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h5 class="text-primary mb-3">Testimonial</h5>
                <h1 class="m-0">What Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        I worked with Cedric when he protected several HNWI. He is an outstanding professional always courteous and cares about the clients protection and wellbeing. He is very proactive and I couldn't have asked for anyone better to work with.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/personne1.jpeg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Corina Goetz</h6>
                            <p class="m-0">Spécialist representing Luxury Hôtels</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        J’ai eu l’occasion de collaborer avec Cédric il y’a quelques années sur différents projets notamment de protection physique des personnes. Je recommande fortement Cédric pour sa discrétion, son professionnalisme et son efficacité ! Ses compétences lui permettent de gérer les situations les plus complexes, autant sur le terrain qu’en qualité de manager. 
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-2.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Gil Ancelin</h6>
                            <p class="m-0">Expert en protection des entreprises</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Mr, Cedric is highly skilled professional security personal guard, He highly experienced and worked with Royal families from the middle east across Europe and the United state, therefore Mr, Cedric has very well connection across the world, with great altitude.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-3.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Fahad Alwal</h6>
                            <p class="m-0">MCC Planner at Flyadeal</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Mr. Cedric is one of the most professional security practitioners I have ever worked together. He supported me in an EP project in April 2019. Definitely, this client was satisfied with his service and she wanted to have Mr. Cedric in her coming trip. I would recommend Mr. Cedric to my clients whenever they need an EP professional.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-4.jpg" style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Kevin Sun</h6>
                            <p class="m-0">CCP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize font-italic text-white"><span class="text-primary">Protected By </span>Odysseus</h1>
                <p class="m-0">Best Security Service</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" data-turbo="false" href="{{ path('app_home') }}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="{{ path('app_about') }}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                            <a class="text-white mb-2" href="{{ path('app_service') }}"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                            <a class="text-white mb-2" href="{{ path('app_single') }}"><i class="fa fa-angle-right mr-2"></i>Single</a>
                            <a class="text-white" href="{{ path('app_contact') }}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                 
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Get In Touch</h5>
                        <p class="fa fa-envelope mr-2"><a href="mailto:contact@protectedbyodysseus.com">contact@protectedbyodysseus.com</a></p>
                        <p class="fa fa-envelope mr-2"><a href="mailto:ops@protectedbyodysseus.com">ops@protectedbyodysseus.com</a></p>
                        <p class="fa fa-envelope mr-2"><a href="training@protectedbyodysseus.com">training@protectedbyodysseus.com</a></p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://twitter.com/intent/tweet?url=https://www.protectedbyodysseus.com&text="><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.facebook.com/sharer/sharer.php?u=https://www.protectedbyodysseus.com"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.protectedbyodysseus.com"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Popular Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-double-up"></i>Back to top</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Privacy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                   <a class="text-white font-weight-bold" href="#">Protected By Odysseus</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


{% endblock %}